#print number from 1 to 5 using a while loop

In [1]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

#calculate the sum of numbers from 1 to 10 using a while loop

In [2]:
total_sum = 0
number = 1
while number <= 10:
    total_sum += number 
    number += 1

In [3]:
print("the sum of the numbers from 1 to 10 is:",total_sum)

the sum of the numbers from 1 to 10 is: 55

#calculate factorail of a number using for loop

In [4]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result


number = 6
print("Factorial of", number, "is:", factorial(number))

Factorial of 6 is: 720

#Cont the number of vowel in a string using a for loop

In [5]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count


input_string = "Hello World"
print("Number of vowels in the string:", count_vowels(input_string))

Number of vowels in the string: 3

#Print a pattern using nested loop

In [6]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

print_pattern(5)

*
* *
* * *
* * * *
* * * * *

#Generate a multiplication table using nested loop

In [7]:
def multiplication_table(n):
    for i in range(1, n+1):
        for j in range(1, n+1):
            print(i * j, end="\t")
        print()


multiplication_table(5)

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25